<p-menubar>
  <ng-template pTemplate="start">
    <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" alt="Logo" />
  </ng-template>
</p-menubar>


<p-card header="Title">
  <p class="m-0">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
    quas!
  </p>
</p-card>


<lib-nx-ribbon text="Showcase example"></lib-nx-ribbon>

<lib-nx-loading-spinner color="red"></lib-nx-loading-spinner>
